<!-- the jumbotron has a special meaning in Bootstrap -->
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
 
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<!--use the Ruby helper to link specified URL with image_tag where the rails.png
    is available localy. the alt attribute eanbles borwser to show the
    alternative text in case that the image is not shown -->
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>