<!DOCTYPE html> <!--define the type of the html doc, for v.5 and up -->
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim'%>

  </head>
  <body>
   <%=render 'layouts/header'%>
  
    <div class="container">
        
        <!-- flash message as per their type to the main application layout -->
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
          
      <!--the yield method inserts the content of the page to the site layout -->
      <%= yield %>
    </div>
    
     <%= render 'layouts/footer' %>
     <%= debug(params) if Rails.env.development? %>
  </body>
</html>
